@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: lightgray;
    padding: 4px;
}
body{
    background: #1b1334;
}
header >h1{
    text-align: center;
    text-decoration-color: #2f4f4f;
    font-family: Asap Condensed, sans-serif;
    padding: 2px;
}
.scoreBoard{
    margin: 20px auto;
    border: 3px solid whitesmoke;
    border-radius: 5px;
    text-align: center;
    padding: 9px;
    width: 200px;
    color: white;
    font-size: 45px;
    font-family: Asap Condensed, sans-serif;
    position: relative;
}
.badge{
    background: #851617;
    color: whitesmoke;
    font-size: 14px;
    padding: 4px;
    font-family: Asap Condensed, sans-serif;
}
#userBadge {
    position: absolute;
    top: 35%;
    left: -15px;
}
#compBadge{
    position: absolute;
    top: 35%;
    right: -15px;
}
.scoreMessage>p{
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    font-family: Asap Condensed, sans-serif;
    font-size: 40px;

}
.choice{
    display: inline-block;
    border: 4px solid whitesmoke;
    border-radius: 50%;
    padding: 20px;
    margin: 0 15px;
    transition: all 0.2s ease;
}
.choice:hover{
    cursor: pointer;
    background: #213f52;
}
.choices{
    margin: 50px 0 10px;
    text-align: center;
}
#actionMessage{
    text-align: center;
    font-family: Asap Condensed, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: whitesmoke;
}
div >img{
    width: 80px;
    height: 80px;
} 


